<!--contact.html-->
{%extends 'base.html'%}
{%block title%}Contact Me!{%endblock%}
{%block content%}
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-8 col-md-6'>
            <div class = 'panel panel-primary'>
                <div class = 'panel-heading'>
                    <form name = 'my form' action = '.' method = 'POST'>
                        {%csrf_token%}
                        <h3 align = center>聯絡管理員</h3>
                </div>
            </div>
        </div>
    </div>
    
        <div class = 'panel-body'>
            {{form.as_p}}
        </div>
        <div class = 'panel-footer'>
            <input type = 'submit' value = '寄出'>
            </form>
        </div>
    </div>
</div>
{%endblock%}